$Color-principal: #A52525;
$Color-secundario: #ffff;
$Color-noticia: #D9D9D9;
$Promedio-pixeles: 20px;
$Promedio-pixeles2: 25px;
$Fuente1: 'Carmorant Garamond';
$Fuente2: 'Bebas Neue';

@mixin imagen-parrafo{
    width: 800px;
    height: 400px; 
    float: right;
}

@mixin imagen-cabecera{
    width: 100%;
    height: 340px;
}

@mixin divs-carne{
    background-color: $Color-principal;
    width: 650px;
    height: 700px;
}

@mixin divs-carne-mobile{
    background-color: $Color-principal;
    width: 100%;
    height: auto;
}

@mixin imagen-parrafo-mobile{
    width: 400px;
    height: 400px; 
    float: right;
}

@font-face{
    font-family: 'Carmorant Garamond';
    src:url('../activos/fuentes/Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf')
}

@font-face{
    font-family: 'Bebas Neue';
    src: url('../activos/fuentes/Bebas_Neue/BebasNeue-Regular.ttf')
}

/*Desktop*/
@media screen and (max-width:1541px) and (min-width: 992px){
body{
    margin: 0;
}

html{
    body{
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}


header{
    background: $Color-principal;
    width: 100%;
    clear: both;
    display: table;
    color: $Color-secundario;
}

a{
    padding-right: 10px;
    font-size: $Promedio-pixeles2;
    text-decoration: none;
    color:$Color-secundario;
}


footer{
    background: $Color-principal;
}

li{
    font-size: $Promedio-pixeles;
}

Nav
{
    float: right
}


.textoH{
    padding-left: $Promedio-pixeles;
}

.textoCa{
    padding-left: $Promedio-pixeles;
}

.catalogo{
    font-family: $Fuente1;
    font-weight: bold;
    color: $Color-secundario;
}

.hp{
    font-family: $Fuente1;
    font-weight: bold;
}

.principal{
    font-family: $Fuente1;
    font-size: $Promedio-pixeles;
}

.lead{
    font-family:$Fuente1;
    font-size: $Promedio-pixeles;
    color: $Color-secundario;
}

.nav-link{
    color: $Color-secundario;
}


.hCon{
    font-family: $Fuente2;
    font-weight: bold;
    text-decoration: underline;
    font-size: 60px;
    margin-left: 10px;
    color: $Color-secundario;
}

.hNo{
    font-family: $Fuente1;
    font-weight: bold;
    text-decoration: underline;
    padding-left: $Promedio-pixeles;
    position: relative;
    left: 100px;
}

.carneNo{
    @include imagen-parrafo;
}

.carnePagina{
    @include imagen-parrafo;
}

.Info{
    font-family: $Fuente2;
    width:1540px;
    height:50px;
    background-color: #a5a5a5;
}

.spNo{
    font-size: 30px;
    position: relative;
    left: 300px;
}

.pNo{
    font-family: $Fuente1;
    font-size: $Promedio-pixeles2;
    padding-left: 30px;
    padding-right: 30px;
}

.hPa{
    font-family: $Fuente1;
    font-weight: bold;
    text-decoration: underline;
    padding-left: $Promedio-pixeles;
    position: relative;
    left: 100px;
}

.pPa{
    font-family: $Fuente1;
    font-size: $Promedio-pixeles2;
    padding-left: 30px;
    padding-right: 30px;
}


.imagen-principal{
    @include imagen-cabecera;
}

.asado{
    @include imagen-cabecera;
}



.contenedorHome{
    display:flex;
    width: 1500px;
    height: 800px;
    margin-top: 50px;
}

.div1Home{
    align-items: flex-start;
    width: 450px;
    height: 400px;
    margin-left: 40px;
    font-size: $Promedio-pixeles2;
    font-family: $Fuente2;
    padding-left: $Promedio-pixeles;
    background-color: $Color-noticia;
}

.div2Home{
    align-items: center;
    margin-left: $Promedio-pixeles;
    margin-right: $Promedio-pixeles;
    width: 450px;
    height: 400px;
    position: relative;
    left: 27px;
    font-size: $Promedio-pixeles2;
    font-family: $Fuente2;
    padding-left: $Promedio-pixeles;
    background-color: $Color-noticia;
}

.div3Home{
    align-items: flex-end;
    width: 450px;
    height: 400px;
    position: relative;
    left: 50px;
    font-size: $Promedio-pixeles2;
    font-family: $Fuente2;
    padding-left: $Promedio-pixeles;
    background-color: $Color-noticia;
}


.reloj{
    width: $Promedio-pixeles;
    height: $Promedio-pixeles;
}


.usuario{
    width: 50px;
    height: 50px;
    left:10px;
}

.meat{
    font-size: 44px;
    font-family: sans-serif;
    position: relative;
    right: 700px;
}

.es{
    font-size: $Promedio-pixeles2;
    font-family:monospace;  
}

.img-thumbnail{
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 10px;
    width: 500px;
    height: 500px;
}

.redes{
    width: 80px;
    height: 90px;
    position: relative;
    left:570px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contenedorCarnes{
    display:flex;
    width: 1520px;
    height: 1100px;
    margin-top: 50px;
}

.divc1{
    @include divs-carne;
    align-items: flex-start;
    margin-left: $Promedio-pixeles2;
}

.divc2{
    @include divs-carne;
    align-items: flex-end;
    margin-left: $Promedio-pixeles2;
    position: relative;
    left: 120px
}

.carnepollo{
    width:325px;
    height:400px;
}

.cp{
    font-family: $Fuente1;
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
    position: relative;
    bottom:160px;
    text-decoration: underline;
}

.ccp{
    font-family: $Fuente1;
    font-weight: bold;
    font-size: $Promedio-pixeles2;
    padding-left: 10px;
    text-decoration: underline;
    position: relative;
    bottom: 340px;
    left: 330px;
}

.listapollo{
    font-family: $Fuente1;
    position: relative;
    bottom: 340px;
    left: 330px;
}

.dp{
    font-family: $Fuente1;
    font-weight: bold;
    font-size: $Promedio-pixeles2;
    text-decoration: underline;
    position: relative;
    bottom:315px;
    padding-left: $Promedio-pixeles;
}

.descPollo{
    font-family: $Fuente1;
    position: relative;
    bottom: 315px;
    font-size: 18px;
    padding-left: $Promedio-pixeles;
}

.carnecerdo{
    width:325px;
    height:400px;
}

.cc{
    font-family: $Fuente1;
    font-weight: bold;
    font-size: 30px;
    padding-left: 10px;
    position: relative;
    bottom:160px;
    text-decoration: underline;
}

.ccc{
    font-family: $Fuente1;
    font-weight: bold;
    font-size: $Promedio-pixeles2;
    padding-left: 10px;
    text-decoration: underline;
    position: relative;
    bottom: 340px;
    left: 330px;
}

.listacerdo{
    font-family: $Fuente1;
    position: relative;
    bottom: 340px;
    left: 330px;
}

.dc{
    font-family: $Fuente1;
    font-weight: bold;
    font-size: $Promedio-pixeles2;
    text-decoration: underline;
    position: relative;
    bottom:340px;
    padding-left: $Promedio-pixeles;
}

.descCerdo{
    font-family: $Fuente1;
    position: relative;
    bottom:340px;
    font-size: 18px;
    padding-left: $Promedio-pixeles;
}



.contactosMain{
    background-color: rgb(26, 23, 23);
}

.carnesMain{
    background-color: rgb(26, 23, 23);
}

.spC{
    font-family: $Fuente2;
    font-size: 40px;
    color: $Color-secundario;
    margin-left: 10px;
}

.spC2{
    font-family: $Fuente2;
    font-size: 40px;
    color: $Color-secundario;
}

.imc{
    width: 80px;
    height: 80px;
    margin-left: 15px;
    margin-bottom: 15px;
} 

.divCon{
    background-color: $Color-principal;
    width: 700px;
    height: 1300px;
    margin-left: 10px;
    position: relative;
    top: 20px;
}
.divCon2{
    background-color: $Color-principal;
    width:700px;
    height: 700px;
    font-family: $Fuente1;
    font-size: 30px;
    padding-left: 15px;
    color:$Color-secundario;
    position: relative;
    bottom: 100px;
    left: 800px;
}

.meat2{
    font-size: 35px;
    position: relative;
    right: 110px;
    top: 8px
}

}


/*Mobile*/
@media screen and (max-width: 991px) and (min-width: 320px){
    
    html{
        body{
            max-width: 100% !important;
            overflow-x: hidden !important;
        }
    }

    header{
        background: $Color-principal;
        width: 100%;
        clear: both;
        display: table;
        color: $Color-secundario;
    }
    
    a{
        padding-right: 10px;
        font-size: $Promedio-pixeles2;
        text-decoration: none;
        color:$Color-secundario;
    }
    
    
    footer{
        background: $Color-principal;
    }
    
    li{
        font-size: $Promedio-pixeles;
    }
    
    Nav
    {
        float: right
    }


    .redes{
        width: 50px;
        height: 50px;
        position: relative;
        left: 250px;
    }

    .spNo{
        font-size: 20px;
        color: #000000;
        position: relative;
        left:0px;
    }

    
    .hCon{
        position:relative;
        left:0px;
        bottom:0px;
        top: 10px;
        color: $Color-secundario;
    }

    .spC{
        font-size: $Promedio-pixeles;
        position:relative;
        left:0px;
        bottom:0px;
        top: 5px;
        color: $Color-secundario;
    }

    .usuario{
        width: 50px;
        height: 50px;
        left:10px;
    }

    .meat{
        font-size: 30px;
        font-family: sans-serif;
    }

    .Info{
        font-family: $Fuente2;
        width:100%;
        height:auto;
        background-color: #a5a5a5;
    }
    
    .carnePagina{
        @include imagen-parrafo-mobile;
    }

    .carneNo{
        @include imagen-parrafo-mobile;
    }

    .img-thumbnail{
        border-radius: 50%;
        float: right;
        width: 450px;
        height:400px;
    }
    .hCon{
        font-family: $Fuente2;
        font-weight: bold;
        float: rigth;
        color: $Color-secundario;
    }

    .spC{
        font-family: $Fuente2;
        font-size: $Promedio-pixeles;
        float: rigth;
        color: $Color-secundario;
    }

    .contactosMain{
        background-image: url("../Activos/Imagenes/fuego.jpg");
    }

    .asado{
        @include imagen-cabecera;
    }

    .divc1{
        @include divs-carne-mobile;
    }
    
    .divc2{
        @include divs-carne-mobile;
    }
    
    .carnepollo{
        width:325px;
        height:400px;
    }
    
    .cp{
        font-family: $Fuente1;
        font-weight: bold;
        font-size: 30px;
        position: relative;
        bottom:160px;
        text-decoration: underline;
    }
    
    .ccp{
        font-family: $Fuente1;
        font-weight: bold;
        font-size: $Promedio-pixeles2;
        text-decoration: underline;
        position: relative;
        bottom: 340px;
        left: 330px;
    }
    
    .listapollo{
        font-family: $Fuente1;
        position: relative;
        bottom: 340px;
        left: 330px;
    }
    
    .dp{
        font-family: $Fuente1;
        font-weight: bold;
        font-size: $Promedio-pixeles2;
        text-decoration: underline;
        position: relative;
        bottom:315px;
        padding-left: $Promedio-pixeles;
    }
    
    .descPollo{
        font-family: $Fuente1;
        position: relative;
        bottom: 315px;
        font-size: 18px;
        padding-left: $Promedio-pixeles;
    }
    
    .carnecerdo{
        width:325px;
        height:400px;
    }
    
    .cc{
        font-family: $Fuente1;
        font-weight: bold;
        font-size: 30px;
        position: relative;
        bottom:160px;
        text-decoration: underline;
    }
    
    .ccc{
        font-family: $Fuente1;
        font-weight: bold;
        font-size: $Promedio-pixeles2;
        text-decoration: underline;
        position: relative;
        bottom: 340px;
        left: 330px;
    }
    
    .listacerdo{
        font-family: $Fuente1;
        position: relative;
        bottom: 340px;
        left: 330px;
    }
    
    .dc{
        font-family: $Fuente1;
        font-weight: bold;
        font-size: $Promedio-pixeles2;
        text-decoration: underline;
        position: relative;
        bottom:340px;
        padding-left: $Promedio-pixeles;
    }
    
    .descCerdo{
        font-family: $Fuente1;
        position: relative;
        bottom:340px;
        font-size: 18px;
        padding-left: $Promedio-pixeles;
    }

    .carnesMain{
        background-color: rgb(26, 23, 23);
    }

    .nav-link{
        color: $Color-secundario;
    }

    .catalogo{
        font-family: $Fuente1;
        font-weight: bold;
        color: $Color-secundario;
    }

    .lead{
        font-family:$Fuente1;
        font-size: $Promedio-pixeles;
        color: $Color-secundario;
    }

    .imagen-principal{
        @include imagen-cabecera;
    }

    .hp{
        font-family: $Fuente1;
        font-weight: bold;
    }
    
    .principal{
        font-family: $Fuente1;
        font-size: $Promedio-pixeles;
    }

    .div1Home{
        width: 100%;
        height: auto;
        font-size: $Promedio-pixeles2;
        font-family: $Fuente2;
        padding-left: $Promedio-pixeles;
        background-color: $Color-noticia;
    }
    
    .div2Home{
        margin-top: $Promedio-pixeles;
        margin-bottom: $Promedio-pixeles;
        width: 100%;
        height: auto;
        font-size: $Promedio-pixeles2;
        font-family: $Fuente2;
        padding-left: $Promedio-pixeles;
        background-color: $Color-noticia;
    }
    
    .div3Home{
        width: 100%;
        height: auto;
        font-size: $Promedio-pixeles2;
        font-family: $Fuente2;
        padding-left: $Promedio-pixeles;
        background-color: $Color-noticia;
    }

    .reloj{
        width: $Promedio-pixeles;
        height: $Promedio-pixeles;
    }

    .hNo{
        font-family: $Fuente1;
        font-weight: bold;
        text-decoration: underline;
        padding-left: $Promedio-pixeles;
    }

    .pNo{
        font-family: $Fuente1;
        font-size: $Promedio-pixeles2;
        padding-left: $Promedio-pixeles;
    }

    .hPa{
        font-family: $Fuente1;
        font-weight: bold;
        text-decoration: underline;
        padding-left: $Promedio-pixeles;
    }
    
    .pPa{
        font-family: $Fuente1;
        font-size: $Promedio-pixeles2;
        padding-left: $Promedio-pixeles;
    }
}

